<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/all.min.css">
</head>

<body>
    <%- include("nav") %>
        <section class="cartpage" id="cartmainpag">
            <div class="container">
                <div class="yourbag">
                    <h2>Your bag total is <span id="maintotal">₹ 0.00</span>.</h2>
                    <button id="check1">Check Out</button>
                    <hr>
                </div>
                <div id="show">
                </div>
                <div class="total">
                    <div class="rowtotal">
                        <h3>Subtotal</h3>
                        <p id="subtotal">₹ 0.00</p>
                    </div>
                    <div class="rowtotal">
                        <h3>Shipping</h3>
                        <p>FREE</p>
                    </div>
                    <hr>
                    <div class="rowtotal">
                        <h2>Total</h2>
                        <h2 id="total">₹ 0.00</h2>
                    </div>
                    <div class="checkout">
                        <button id="check2">Check Out</button>
                    </div>
                </div>
        </section>
        <!-- <section class="address" id="saddress">
            <div class="container">
                <h2>Shipping address for faster checkout</h2>
                <form action="/product/shippingdetail" method="post">
                    <div class="addrow">
                        <input type="text" name="fname" placeholder="First Name" id="fname">
                        <input type="text" name="lname" placeholder="Last Name" id="lname">
                    </div>
                    <input type="email" name="email" placeholder="Email Address" id="email"><br><br>
                    <input type="text" name="line1" placeholder="Address Line 1" id="line1"><br><br>
                    <input type="text" name="landmark" placeholder="Landmark" id="landmark"><br><br>
                    <div class="addrow">
                        <input type="number" name="pincode" placeholder="PIN code" id="pincode"><br><br>
                        <input type="number" name="phoneno" placeholder="Phone Number" id="phoneno"><br><br>
                    </div>
                    <div class="addrow">
                        <input type="text" name="city" placeholder="City" id="city"><br><br>
                        <input type="text" name="state" placeholder="State" id="state"><br><br>
                    </div>
                    <input type="text" name="country" placeholder="Country" id="country"><br><br>
                    <input type="button" value="Continue to Payment" id="addsub">
                </form>
            </div>
        </section> -->
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    // document.getElementById("saddress").style.display="none";
    const handelamount=async(amount)=>{
        let res = await fetch(`/product/payment`,{
            method:"POST",
            headers:{"content-type":"application/json"},
            body: JSON.stringify({amount:amount})
        });
        let order = await res.json();
        console.log(order)

        let option={
            key: 'rzp_test_2yN6gjtjhdDxG9',
            amount : order.amount,
        }
        let razoray = new Razorpay (option);
        razoray.open();

    }
    
    const cartqty = (id, qty) => {
        fetch(`/product/cart/${id}`, {
            method: "PATCH",
            headers: { "content-type": "application/json" },
            body: JSON.stringify({ qty })
        })
            .then((res) => res.json())
            .then((data) => get())
            .catch((err) => console.log(err))
    }

    const display = (data) => {
        let sum =0;
        document.getElementById("show").innerHTML = "";
        data.map((element) => {
            let ele = element.productId;

            let img = document.createElement("img");
            img.src = ele.image;

            let title = document.createElement("h3");
            title.innerHTML = ele.title;

            let desc = document.createElement("p");
            desc.innerHTML = ele.desc;

            let price = document.createElement("p");
            price.innerHTML = `<i class="fa-solid fa-indian-rupee-sign"></i>${ele.price}`;

            let size = document.createElement("h5");
            size.innerHTML = `Size : ${ele.size}`;

            let btn1 = document.createElement("button");
            btn1.setAttribute("class", "cartminus")
            btn1.innerHTML = `<i class="fa-solid fa-minus"></i>`;
            btn1.addEventListener("click", () => cartqty(element._id, -1));

            let qty = document.createElement("h4");
            qty.innerHTML = element.quantity;
            qty.setAttribute("id", "cartqty")

            let btn2 = document.createElement("button");
            btn2.setAttribute("class", "cartplus")
            btn2.innerHTML = `<i class="fa-solid fa-plus"></i>`;
            btn2.addEventListener("click", () => cartqty(element._id, 1));

            let btn3 = document.createElement("button");
            btn3.setAttribute("class", "cartdel")
            btn3.innerHTML = `<i class="fa-regular fa-trash-can"></i>`;

            let div1 = document.createElement("div");
            div1.setAttribute("class", "cartdiv1");
            div1.append(img);

            let div2 = document.createElement("div");
            div2.setAttribute("class", "cartdiv2");
            div2.append(title, desc, size);

            let div3 = document.createElement("div");
            div3.setAttribute("class", "cartdiv3");
            div3.append(btn1, qty, btn2);

            let div5 = document.createElement("div");
            div5.setAttribute("class", "cartdiv5");
            div5.append(price, btn3);

            let div = document.createElement("div");
            div.setAttribute("class", "cartmaindiv");
            div.append(div1, div2, div3, div5);

            let total = element.quantity * ele.price;
            sum = sum + total;

            document.getElementById("show").append(div);
        })
        document.getElementById("subtotal").innerHTML = `₹${sum.toFixed(2)}`;
        document.getElementById("total").innerHTML = `₹${sum.toFixed(2)}`;
        document.getElementById("maintotal").innerHTML = `₹${sum.toFixed(2)}`;
        document.getElementById("check1").addEventListener("click",()=>handelamount(sum))
        document.getElementById("check2").addEventListener("click",()=>handelamount(sum))
        // document.getElementById("check1").addEventListener("click",(e)=>{
        //     e.preventDefault();
        //     document.getElementById("cartmainpag").style.display="none";
        //     document.getElementById("saddress").style.display="block";
        // });
        // document.getElementById("check2").addEventListener("click",(e)=>{
        //     e.preventDefault();
        //     document.getElementById("cartmainpag").style.display="none";
        //     document.getElementById("saddress").style.display="block";
            
        // });
    }
    const get = async () => {
        fetch(`/product/cartproduct`)
            .then((res) => res.json())
            .then((data) => {
                console.log(data);
                display(data)
            })
            .catch((err) => console.log(err))
    }
    get()
</script>

</html>