<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>    
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="foot">
        <div class="container">
            <div class="footrow">
                <h5>Copyright © 2023. All rights reserved.</h5>
                <h5>India</h5>
            </div>
        </div>
    </section>
</body>
</html>