<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/all.min.css">
</head>
<body>
    <%- include("nav") %>
    <section class="forgot-form">
        <div class="container">
            <form action="/user/sendmail" method="post">
                <h2>Forgot Password Reset ?</h2>
                <p>Please enter your registered email</p>
                <input type="email" name="email" placeholder="Enter Email"><br><br>
                <input type="submit" value="Submit" id="forsub">
            </form>
        </div>
    </section>
    <%- include("footer") %>
</body>
</html>