<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navnar</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="nav">
            <div class="row">
                <a href="/product/home">Home</a>
                <a href="/product/productpage">Product</a>
                <a href="/product/admin">Admin</a>
            </div>
            <div class="search">
                <label for=""><input type="search" placeholder="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </label>
            </div>
            <div class="row">
                <a href="/product/cart">Cart</a>
                <a href="/user/signup">Signup</a>
                <a href="/user/login">Login</a>
            </div>
        </div>
    </header>
</body>
<script>
    let cookies = document.cookie.split("=")[1];
    
    
</script>
</html>